<div class="jumbotron">
  <h1 class="display-3">CoderPhoto</h1>
  <p class="lead">This is a starter project for your pair-programming lab.</p>
  <hr class="m-y-2">
  <p>Please work together to complete as many milestones as you can.</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="http://learning.coderschool.vn/courses/_ruby_on_railunit/1#!exercises" role="button" target="_blank">Learn more</a>
  </p>
 </div>