<div class="card">
      <%=  image_tag photo.url , alt: photo.username  %>
      <div class="card-block">
        <h4 class="card-title"><%= photo.username %></h4>
        <p class="card-text"><%=  photo.caption %></p>
        <%= link_to 'Go anywhere' , '#' %>
        </div>
</div>